* {
	font-family: 'Comfortaa', cursive;
	margin: 0.5% 2% 2% 9%;
	text-align: center;
}

body {
	text-align: center;
	background-color: #FFEA95;
}

div.calcular {
	background-color: #FF7C5D;
	color: white;
	position: absolute;
	width: 50%;
	height: 90%;
	padding-top: 2%;
	text-align: center;
	border-radius: 10px;
}

div#panel {
	text-align: right;
	padding: 1%;
	font-size: 250%;
	overflow: auto;
	width: 82%;
	height: 15%;
	margin: 1% 4% 1% 8%;
	border-radius: 10px;
}

p#titulo {
	margin-top: -2%;
	margin-left: 4%;
	text-align: center;
	font-size: 145%;
	font-weight: bold;
	letter-spacing: 18px;
}

.calcular button {
	background-color: #004B67;
	color: white;
	border-radius: 10%;
	border: none;
	text-align: center;
	font-size: 110%;
	height: 10%;
	width: 14%;
	margin: 1% 4% 1% 4%;
}

.calcular button.igual {
	width: 80%;
	height: 10%;
}

button{
	transition: 0.3s;
}
button:hover{
	transform:scale(1.20);
}